.Button{
    all:unset;
    color:white;
    cursor:pointer;
    border-Radius:5px;
    font-Weight:bold;
    margin-left: 10px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.Button:hover{
    opacity: .7;
}

/* 버튼크기*/
.large {
    height: 70px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2rem;
}
.medium{
    height:50px;
    padding-Right:10px;
    padding-Left:10px;
    font-size: 1rem;
}
.small{
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.8rem;
}
/* 버튼색상 */
.Button.slateblue{
    background: slateblue;
}
.Button.slateblue:hover{
    background: skyblue;
}
.tomato{
    background: tomato;
}
.tomato:hover{
    background: lightsalmon
}
.grey{
    background: grey;
}
.grey:hover{
    background: lightgrey;
}

/* 버튼타입 */
.fullWidth{
    width:100%;
    margin-left:0px;
    margin-top:10px;
    margin-bottom: 10px;
}

/* 비활성화 */
.blocked{
    background: lightgrey;
    text-decoration: line-through;
}
.blocked:hover{
    background: lightgray;
    opacity: 1;
}
